@page "/account"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.ApprenticeAccounts.Web.TagHelpers
@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@model SFA.DAS.ApprenticeAccounts.Web.Pages.AccountModel
@{
    ViewData["Title"] = Model.IsCreating ? "Create My apprenticeship account" : "Change your personal details";

    ViewBag.ValidationOrder = "FirstName,LastName,DateOfBirth";

    var ctaName = Model.IsCreating ? "Continue" : "Save and update";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

            @if (Model.IsCreating)
            {
                <p>
                    Enter your name and date of birth to complete the set-up of your account. You can then confirm your apprenticeship details.
                </p>
            }
            else
            {
                <p>
                    You can update your personal details. If your personal details are incorrect,
                    we won't be able to display your apprenticeship details to you. To see your updated details across all services in your account (including your ambassador profile) you'll need to log out, close and reopen your browser, then log in again.
                </p>
            }

            <partial name="ValidationSummary" />

            <h2 class="govuk-heading-m">Account details</h2>

            <form method="post" class="check-answers-page" id="identity-assurance" asp-page-handler="@Model.FormHandler">

                <div id="FirstNameFieldRow" class="govuk-form-group">
                    <div validation-row-status property-name="FirstName">
                        <label class="govuk-label govuk-label--s" asp-for="FirstName">First name</label>
                        <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-input--width-20" asp-for="FirstName">
                    </div>
                </div>

                <div id="LastNameFieldRow" class="govuk-form-group">
                    <div validation-row-status property-name="LastName">
                        <label class="govuk-label govuk-label--s" asp-for="LastName">Last name</label>
                        <span asp-validation-for="LastName" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-input--width-20" asp-for="LastName">
                    </div>
                </div>

                <div id="DateOfBirth" class="govuk-form-group">
                    <div validation-row-status property-name="DateOfBirth">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint date-of-birth-error">
                            <label class="govuk-label govuk-label--s" asp-for="DateOfBirth">
                                Date of birth
                            </label>
                            <div id="date-of-birth-hint" class="govuk-hint">
                                For example, 12 11 2007
                            </div>
                            <span asp-validation-for="DateOfBirth" class="govuk-error-message"></span>
                            <div class="govuk-date-input" id="date-of-birth">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Day">Day</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="31">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="12">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" asp-for="DateOfBirth.Year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" maxlength="4" min="1900" max="9999">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                @if (ViewData.UseGovSignIn())
                {
                    <div class="govuk-inset-text">
                        By continuing, you agree to our <a class="govuk-link" asp-external-section="@NavigationSection.Home" asp-external-page="Privacy" target="_blank" rel="noopener noreferrer">privacy statement (opens in new tab)</a>.
                    </div>
                }

                <input type="hidden" asp-for="TermsOfUseAccepted" value="@Model.TermsOfUseAccepted" />

                <button class="govuk-button" data-module="govuk-button" id="identity-assurance-btn">@ctaName</button>
            </form>
        </div>
    </div>
