@page
@using SFA.DAS.ApprenticeAccounts.Web.Services.InnerApi
@model NotificationSettingsModel
@{
    ViewData["Title"] = "Change your email notifications settings";
}
<form method="post">

    @section BreadCrumbs { <a href="@Model.BackLink" class="govuk-back-link">Return to home</a> }

    @if (Model.SubmittedPreferences)
    {
        <partial name="_EmailNotificationSettingsSaved", model="@Model"/>
    }

    <partial name="ValidationSummary"/>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-heading-l">
                            @ViewData["Title"]
                        </h1>
                    </legend>
                    <p>
                        You can only change email notification settings about giving feedback on your training provider.
                    </p>
                    <p>
                        Changing these settings will not affect other emails about your My apprenticeship account.
                    </p>

                     <partial name="_EmailNotificationSettingsQuestions", model="@Model"/>
@*                    @Html.Partial("_EmailNotificationSettingsQuestions", Model.ApprenticePreferences);*@
@*                    @foreach (var apprenticePreference in Model.ApprenticePreferences)
                    {
                        <input type="hidden" asp-for="@apprenticePreference.PreferenceId"/>
                        <input type="hidden" asp-for="@apprenticePreference.PreferenceMeaning"/>

                        <div class="govuk-form-group" validation-row-status property-name="@apprenticePreference.Status">
                            <div class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    @apprenticePreference.PreferenceMeaning
                                    <span class="govuk-caption-m">
                                        These emails will be sent every 3 months.
                                    </span>
                                </h2>
                            </div>

                            <span asp-validation-for="@apprenticePreference.Status" class="govuk-error-message"></span>

                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="@($"preference-{apprenticePreference.PreferenceId}-true")" asp-for="@apprenticePreference.Status" type="radio" value="@bool.TrueString"/>
                                    <label class="govuk-label govuk-radios__label" for="@($"preference-{apprenticePreference.PreferenceId}-true")">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="@($"preference-{apprenticePreference.PreferenceId}-false")" asp-for="@apprenticePreference.Status" type="radio" value="@bool.FalseString"/>
                                    <label class="govuk-label govuk-radios__label" for="@($"preference-{apprenticePreference.PreferenceId}-false")">
                                        No
                                    </label>
                                </div>
                            </div>

                        </div>
                    }*@

                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit"> Save settings </button> <a class="govuk-link" href="@Model.BackLink">Return to home</a>
            </div>

        </div>
    </div>
</form>